@import "~styles/variables";
@import "~styles/globals";
@import "~styles/_mixins";

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #fffffff0;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-areas: "logo user" "menu menu";
  grid-template-columns: 1fr auto;
  @include desktop() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
  }
}

.logo {
  @extend .link;
  grid-area: logo;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem;
  @include desktop() {
    font-size: 2rem;
  }
}

.logoLetter {
  color: $color-secondary;
}

.menuWrapper {
  grid-area: menu;
}

.hamburger {
  display: block;
  padding: 0.5rem 1rem;
  display: flex;
  cursor: pointer;
  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
  @include desktop() {
    display: none;
  }
}
.hamburgerOpen {
  @extend .hamburger;
  svg {
    fill: $color-secondary;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
  background: $color-light;
  transition: all 0.3s;
  @include desktop() {
    max-height: initial;
    flex-direction: row;
    background: none;
    opacity: 1;
  }
}

.menuOpen {
  @extend .menu;
  max-height: fit-content;
  opacity: 1;
}

.user {
  display: flex;
  grid-area: user;
  align-items: center;
  justify-content: center;
  .label {
    display: none;
    @include tablet() {
      display: inline;
    }
  }
}

.item {
  @extend .link;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem;
  text-transform: capitalize;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  &:hover {
    fill: $color-secondary;
  }

  .icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: $color-dark;
    @include tablet() {
      margin-right: 1rem;
    }
  }

  @include desktop() {
    padding: 3rem 2rem;
    border-bottom: none;
  }
}
