.navbar {
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #fffffff0;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: inherit;
  font-size: 2rem;
  font-weight: 400;
}

.logoLetter {
  color: var(--color-secondary);
}

.section {
  display: flex;
}

.item {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2rem;
  text-transform: capitalize;
  transition: color 0.3s;
}

.dropdownItem {
  padding: 1rem;
  display: block;
}
