@import "~styles/variables";

.footer {
  background-color: $color-dark;
  color: $color-light;
}
.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon {
  transition: all 0.3s;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  border-radius: 50%;
  padding: 0.5rem;
  box-sizing: content-box;
  fill: white;
  &:hover {
    filter: drop-shadow(0 0 3px var(--color-secondary));
    transform: scale(1.1);
  }
  &.instagram {
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
  &.facebook {
    background: #1877f2;
  }
}

.title {
  color: var(--color-light);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.item {
  a {
    font-size: 1.4rem;
    color: var(--color-light);
  }
}
.copyright {
  border-top: 1px solid rgb(89, 89, 89);
  padding: 1rem;
  font-size: 1.2rem;
}

.payment {
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .section {
    flex-direction: row;
  }
  .title {
    margin-top: 0;
  }
  .item {
    list-style: square;
  }
}
