@import "~styles/variables";

.footer {
  background-color: $color-dark;
  color: $color-light;
}
.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon {
  transition: all 0.3s;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  box-sizing: content-box;
  fill: white;
  &:hover {
    filter: drop-shadow(0 0 3px var(--color-secondary));
    transform: scale(1.1);
  }
}
.github {
  @extend .icon;
  fill: white;
}

.title {
  color: var(--color-light);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.item {
  a {
    font-size: 1.4rem;
    color: var(--color-light);
  }
}
.copyright {
  border-top: 1px solid rgb(89, 89, 89);
  padding: 1rem;
  font-size: 1.2rem;
  a {
    color: $color-light;
  }
  a:hover {
    color: $color-secondary;
  }
}

.payment {
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .section {
    flex-direction: row;
  }
  .title {
    margin-top: 0;
  }
  .item {
    list-style: square;
  }
}
